### LISTS :

In [14]:
list1=['a','b','c','d']
list2=[1,2,3,4]

In [17]:
for each in list1:
    print each

a
b
c
d

In [5]:
#list append vs extend
x = [1, 2, 3]
x.append([4, 5])
print (x)
x.extend([6, 7])
print (x)
x.extend('8')
print (x)
x.append({'a':{'a':2}})
print (x)
x.extend({'a':2})
print (x)
x.append((1,2,3))
print (x)
x.extend((4,5,6))
print (x)
x.extend(('abcd',{'a':2}))
print (x)
x.extend(([1,2,3,4,5],{'dsd':23}))
print (x)
x.extend(({'efgh':{'ef':2},"gh":1}))
print (x)

[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5], 6, 7]
[1, 2, 3, [4, 5], 6, 7, '8']
[1, 2, 3, [4, 5], 6, 7, '8', {'a': {'a': 2}}]
[1, 2, 3, [4, 5], 6, 7, '8', {'a': {'a': 2}}, 'a']
[1, 2, 3, [4, 5], 6, 7, '8', {'a': {'a': 2}}, 'a', (1, 2, 3)]
[1, 2, 3, [4, 5], 6, 7, '8', {'a': {'a': 2}}, 'a', (1, 2, 3), 4, 5, 6]
[1, 2, 3, [4, 5], 6, 7, '8', {'a': {'a': 2}}, 'a', (1, 2, 3), 4, 5, 6, 'abcd', {'a': 2}]
[1, 2, 3, [4, 5], 6, 7, '8', {'a': {'a': 2}}, 'a', (1, 2, 3), 4, 5, 6, 'abcd', {'a': 2}, [1, 2, 3, 4, 5], {'dsd': 23}]
[1, 2, 3, [4, 5], 6, 7, '8', {'a': {'a': 2}}, 'a', (1, 2, 3), 4, 5, 6, 'abcd', {'a': 2}, [1, 2, 3, 4, 5], {'dsd': 23}, 'efgh', 'gh']

In [5]:
# Python code to demonstrate the working of
# index() and count()
# initializing list 1
lis = [2, 1, 3, 5, 4, 3]
 
# using index() to print first occurrence of 3
# prints 5
print ("The first occurrence of 3 after 3rd position is : ")
print (lis.index(3,3))
 
# using count() to count number of occurrence of 3
print ("The number of occurrences of 3 is : ")
print (lis.count(3))

The first occurrence of 3 after 3rd position is :
5
The number of occurrences of 3 is :
2

In [2]:
# Let us first create a list to demonstrate slicing
# lst contains all number from 1 to 10
lst = range(1, 11) #[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print lst

#  below list has numbers from 2 to 5
lst1_5 = lst[1 : 5]
print lst1_5

#  below list has numbers from 6 to 8
lst5_8 = lst[5 : 8]
print lst5_8

#  below list has numbers from 2 to 10
lst1_ = lst[1 : ]
print lst1_

#  below list has numbers from 1 to 5
lst_5 = lst[: 5]
print lst_5

#  below list has numbers from 2 to 8 in step 2
lst1_8_2 = lst[1 : 8 : 2]
print lst1_8_2

#  below list has numbers from 10 to 1
lst_rev = lst[ : : -1]
print lst_rev

#  below list has numbers from 10 to 6 in step 2
lst_rev_9_5_2 = lst[9 : 4 : -2]
print lst_rev_9_5_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5]
[6, 7, 8]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6]

In [20]:
a=[{'outer_key':{'inner_key1':'a','inner_key2': 'b'},'outer_key2':{'inner_key3':'c','inner_key4': 'd'}},2,(7,8,9,5),{1,2,3}]
a

[{'outer_key': {'inner_key1': 'a', 'inner_key2': 'b'},
  'outer_key2': {'inner_key3': 'c', 'inner_key4': 'd'}},
 2,
 (7, 8, 9, 5),
 {1, 2, 3}]

In [33]:
print a[0].items()
print a[0].items()[0][1]['inner_key1']

[('outer_key', {'inner_key2': 'b', 'inner_key1': 'a'}), ('outer_key2', {'inner_key4': 'd', 'inner_key3': 'c'})]
a

In [32]:
print a[0].values()
print a[0].values()[0]['inner_key1']

[{'inner_key2': 'b', 'inner_key1': 'a'}, {'inner_key4': 'd', 'inner_key3': 'c'}]
a

In [45]:
print a[0]['outer_key']
print a[0]['outer_key']['inner_key1']

{'inner_key2': 'b', 'inner_key1': 'a'}
a

In [46]:
s=((1,2,3),4)
s

((1, 2, 3), 4)

In [47]:
a=[{'outer_key1':{'inner_key1':'a','inner_key2': 'b'},'outer_key2':{1,2,3,4,5}}]
a

[{'outer_key1': {'inner_key1': 'a', 'inner_key2': 'b'},
  'outer_key2': {1, 2, 3, 4, 5}}]

In [48]:
for each in a[0]['outer_key2']:
    print each
    if each ==3:
        break

1
2
3

In [12]:
a=[{'a':[1,2,3],'b':[4,5,6]},7,8]
print a
[each[1] for each in a[0].values()]

[{'a': [1, 2, 3], 'b': [4, 5, 6]}, 7, 8]

[2, 5]

### Dictionary:

http://www.python-course.eu/dictionaries.php

The hash table implementation of dictionaries uses a hash value calculated from the key value to find the key. If the key were a mutable object, its value could change, and thus its hash could also change.

In [40]:
T = ('A', 'B', 'C', 'D')
d=dict(enumerate(T))
print d
print sorted(d, reverse=True)

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}
[3, 2, 1, 0]

In [7]:
#Mutable datatype(list,set) cannot be used as a key in dict..immutable data types can be used
dic_key_tup = {(1,2,3):"abc"}
print dic_key_tup
dic_key_list = {[1,2,3]:"abc"}
print dic_key_list

{(1, 2, 3): 'abc'}

TypeError: unhashable type: 'list'

In [53]:
dic_key_tup[(1,2,3)]

'abc'

In [44]:
keys = ['k1', 'k2', 'k3', 'k4']
data = [1, 2, 3, 4,[10,5]]

In [45]:
d=dict(zip(keys,data))
print "dictionary contains : %s" %(str(d))
print "List of tuples: %s" %(str(d.items())) #.items() will always return list of tuples
print "Keys inside dict: %s" %(str(d.keys())) #keys() will always return list
print "Values inside dict: %s" %(str(d.values())) #values is same as keys()

dictionary contains : {'k3': 3, 'k2': 2, 'k1': 1, 'k4': 4}
List of tuples: [('k3', 3), ('k2', 2), ('k1', 1), ('k4', 4)]
Keys inside dict: ['k3', 'k2', 'k1', 'k4']
Values inside dict: [3, 2, 1, 4]

In [46]:
#or
a={}
for each in range(len(keys)):
    a[keys[each]] = data[each]
    
print a

{'k3': 3, 'k2': 2, 'k1': 1, 'k4': 4}

In [47]:
for key,values in a.items():
    print key,values

k3 3
k2 2
k1 1
k4 4

In [48]:
a['k5']=5
a

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5}

In [90]:
a.update({'k6' :11})
a

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k6': 11}

In [50]:
a.setdefault('k7',77)
a

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5, 'k7': 77}

In [54]:
print a.get('k7',None)

77

In [15]:
del a['k5']
a

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [97]:
# Python code to demonstrate working of
# has_key() and get()
 
# Initializing dictionary
dict = { 'Name' : 'Nandini', 'Age' : 19 }
 
# using has_key() to check if dic1 has a key
if dict.has_key('Name'):
       print ("Name is a key")
else : print ("Name is not a key")

# using get() to print a key value
print ("The value associated with ID is : ")
print (dict.get('ID', "Not Present"))

#addig Id field using setdefault
print (dict.setdefault('ID', "No ID"))
# printing dictionary values
print ("The dictionary values are : ")
print (str(dict))

Name is a key
The value associated with ID is :
Not Present
No ID
The dictionary values are :
{'Age': 19, 'Name': 'Nandini', 'ID': 'No ID'}

In [97]:
# Dictionary counting
colors=['red','green','orange','blue','red','green','red']
d={}
for color in colors:
    if color not in d:
        d[color]=0
    d[color]+=1
d

{'blue': 1, 'green': 2, 'orange': 1, 'red': 3}

In [5]:
d={}
for color in colors:
    d[color]=d.get(color,0)+1
    
d

{'blue': 1, 'green': 2, 'orange': 1, 'red': 3}

In [98]:
import collections
d=collections.defaultdict(int)
for color in colors:
    d[color]+=1
d

defaultdict(int, {'blue': 1, 'green': 2, 'orange': 1, 'red': 3})

In [103]:
#grouping
names=['raymond','rachel','mathew','roger','betty','melissa','judith','charlie']

In [104]:
d={}
for name in names:
    key=len(name)
    if key not in d:
        d[key]=[]
    d[key].append(name)
d

{5: ['roger', 'betty'],
 6: ['rachel', 'mathew', 'judith'],
 7: ['raymond', 'melissa', 'charlie']}

In [106]:
#or
d={}
for name in names:
    key=len(name)
    d.setdefault(key,[]).append(name)
d

{5: ['roger', 'betty'],
 6: ['rachel', 'mathew', 'judith'],
 7: ['raymond', 'melissa', 'charlie']}

In [107]:
#or
d=collections.defaultdict(list)
for name in names:
    key=len(name)
    d[key].append(name)
d

defaultdict(list,
            {5: ['roger', 'betty'],
             6: ['rachel', 'mathew', 'judith'],
             7: ['raymond', 'melissa', 'charlie']})

In [71]:
words="the clown ran after the car and the car ran into the tent and the tent fell down on the clown and the car"

In [9]:
words="the clown ran after the car and the car ran into the tent and the tent fell down on the clown and the car"
count=dict()
for word in words.split(" "):
    if  word not in count:
        count[word]=0
    count[word]+=1
count

{'after': 1,
 'and': 3,
 'car': 3,
 'clown': 2,
 'down': 1,
 'fell': 1,
 'into': 1,
 'on': 1,
 'ran': 2,
 'tent': 2,
 'the': 7}

In [10]:
words="the clown ran after the car and the car ran into the tent and the tent fell down on the clown and the car"
count=dict()
for word in words.split():
    count[word]=count.get(word,0)+1
count

{'after': 1,
 'and': 3,
 'car': 3,
 'clown': 2,
 'down': 1,
 'fell': 1,
 'into': 1,
 'on': 1,
 'ran': 2,
 'tent': 2,
 'the': 7}

In [84]:
from operator import itemgetter
dic={'a':12,'ab':14,'cd':45,'ef':15}
print dic
print "Printing out the keys: "+str(dic.keys()) #normal
print "Printing out the keys after sorting based on keys: "+str(sorted(dic.keys())) #sorted

{'a': 12, 'ab': 14, 'ef': 15, 'cd': 45}
Printing out the keys: ['a', 'ab', 'ef', 'cd']
Printing out the keys after sorting based on keys: ['a', 'ab', 'cd', 'ef']

In [85]:
#sorting based on keys
for each in sorted(dic.items()):
    print each

('a', 12)
('ab', 14)
('cd', 45)
('ef', 15)

In [86]:
#sorting based on values
for each in sorted(dic.items(),key=itemgetter(1)):
    print each

('a', 12)
('ab', 14)
('ef', 15)
('cd', 45)

In [89]:
#Inserting Dict into another dict
team_a = {
    'Foo' : 3,
    'Bar' : 7,
    'Baz' : 9,
} 
team_b = {
    'Moo' : 10,
    'Boo' : 20,
    'Foo' : 30,
} 
print(team_a)    # {'Baz': 9, 'Foo': 3, 'Bar': 7}
print(team_b)    # {'Foo': 30, 'Moo': 10, 'Boo': 20}
 
team_a["b"] = team_b
print(team_a)    # {'Baz': 9, 'b': {'Foo': 30, 'Moo': 10, 'Boo': 20}, 'Foo': 3, 'Bar': 7}
 
team_b["Foo"] = 200
print(team_b)    # {'Foo': 200, 'Moo': 10, 'Boo': 20}
print(team_a)    # {'Baz': 9, 'b': {'Foo': 200, 'Moo': 10, 'Boo': 20}, 'Foo': 3, 'Bar': 7}

{'Baz': 9, 'Foo': 3, 'Bar': 7}
{'Foo': 30, 'Moo': 10, 'Boo': 20}
{'Baz': 9, 'b': {'Foo': 30, 'Moo': 10, 'Boo': 20}, 'Foo': 3, 'Bar': 7}
{'Foo': 200, 'Moo': 10, 'Boo': 20}
{'Baz': 9, 'b': {'Foo': 200, 'Moo': 10, 'Boo': 20}, 'Foo': 3, 'Bar': 7}

### Set:

In [8]:
type((["Paris"],['a']))

tuple

In [24]:
#sets cannot contain multiple mutable collections or combination of mutable and immutable collection
cities = set((("Python","Perl"), ("Paris", "Berlin", "London"))) #ok

cities = set((("Python","Perl"), (['a','b']))) #not ok
cities = set((["Python","Perl"], ["Paris", "Berlin", "London"])) #not ok

TypeError: unhashable type: 'list'

In [11]:
#but set can contain a single mutable collection
cities = set(["Python","Perl"])
cities

{'Perl', 'Python'}

In [29]:
#but this can be done... we can pass a list of tuples within a set
cities = set([("Python","Perl"),('a','b')])
cities

{('Python', 'Perl'), ('a', 'b')}

In [14]:
#This will also throw an error
s=[1,2,3]
a=set(s)
b=set([a,(5,4,6)])

TypeError: unhashable type: 'set'

In [15]:
#basic set operation
a = ["Jake", "John", "Eric"]
b = ["John", "Jill"]
a=set(a)
b=set(b)
print a,b
print(a.difference(b))
print(a.intersection(b))
print(a.union(b))
print(a.symmetric_difference(b))

set(['Jake', 'John', 'Eric']) set(['Jill', 'John'])
set(['Jake', 'Eric'])
set(['John'])
set(['Jill', 'Jake', 'John', 'Eric'])
set(['Jill', 'Jake', 'Eric'])

In [58]:
list(a)[0]

'Jake'

In [59]:
a

{'Eric', 'Jake', 'John'}

In [60]:
a.add("add")

In [34]:
a

{'Eric', 'Jake', 'John', 'add'}

In [61]:
a.discard("add")
a

{'Eric', 'Jake', 'John'}

In [63]:
a.clear()
a

set()

In [64]:
c=frozenset(["Jake", "John", "Eric"])

In [65]:
c

frozenset({'Eric', 'Jake', 'John'})

In [2]:
a=set(range(5))
a

{0, 1, 2, 3, 4}

In [33]:
#iterating over a particular range of numbers in a set
for each in set(range(5)):
    print each
    if each ==3:
        break

0
1
2
3

In [36]:
#getting a particular number in a set
a=set(range(5))
print a
[num for num in a if num==2]

set([0, 1, 2, 3, 4])

[2]

### Tuples:

In [29]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [94]:
#tuples are immutable. concatenating a new tuple will result in a new tuple in memory
t = ('third', 'fourth')
print id(t)
t = t + ('fifth', 'sixth')
print id(t)

62455624
65666408

In [96]:
# Although mutable objects inside tuples is totally mutable
t = (['xyz', 123], 23, -103.4)
print t
print id(t)
t[0][1] = ['abc', 'def']
print t
print id(t)

(['xyz', 123], 23, -103.4)
65187560
(['xyz', ['abc', 'def']], 23, -103.4)
65187560

In [98]:
#Any set of multiple objects, comma-separated, written without identifying symbols, 
#i.e., brackets for lists,parentheses for tuples, etc., 
#default to tuples, as indicated in these short examples:

'abc', -4.24e93, 18+6.6j, 'xyz'

('abc', -4.24e+93, (18+6.6j), 'xyz')

In [103]:
print (1,2,3,4)>(5,6,7,8)
print (1,2,3,4)<(5,6,7,8)
print ("jones","adams")>("jones","sally")
print ("fred","adams")>("ashley","adams")
4, 2 < 3, 5

False
True
False
True

(4, True, 5)

In [55]:
d={'a':10,'b':1,'c':100}
print d
# d.tems() is a list of tuple
print "using sorted function on list of tuples: "+ str(sorted(d.items()))
#or
t=d.items()
t.sort()
print "using sort function on list of tuples: "+str(t)

{'a': 10, 'c': 100, 'b': 1}
using sorted function on list of tuples: [('a', 10), ('b', 1), ('c', 100)]
using sort function on list of tuples: [('a', 10), ('b', 1), ('c', 100)]

In [52]:
l=[1,2,4,8,7,20,645,5]
t=tuple(l)
print "This is a list: "+str(l)
print "This is a tuple: " +str(t)
# unlike list,tuple has no sort function..but we can use sorted for tuples

l.sort(reverse=True)
print "Sorted list: "+str(l)
t.sort()

This is a list: [1, 2, 4, 8, 7, 20, 645, 5]
This is a tuple: (1, 2, 4, 8, 7, 20, 645, 5)
Sorted list: [645, 20, 8, 7, 5, 4, 2, 1]

AttributeError: 'tuple' object has no attribute 'sort'

In [74]:
#creating a list of tuple b converting keys as values(interchanging keys,value)
d={'a':10,'b':1,'c':100}
initial_lot=d.items()
print "Initial List of tuples is :"+ str(initial_lot)
final_lot=list()
for k,v in initial_lot:
    final_lot.append((v,k))
print "Final List of tuples is: "+str(final_lot)
final_lot.sort(reverse=True)
print "Final List of tuples sorted in reverse is: "+str(final_lot)

#list comprehension

c={'a':10,'b':1,'c':100}
final_lot_comp=[(v,k) for k,v in c.items()]
print "Final List of tuples using List comprehension: " +str(final_lot_comp)

Initial List of tuples is :[('a', 10), ('c', 100), ('b', 1)]
Final List of tuples is: [(10, 'a'), (100, 'c'), (1, 'b')]
Final List of tuples sorted in reverse is: [(100, 'c'), (10, 'a'), (1, 'b')]
Final List of tuples using List comprehension: [(10, 'a'), (100, 'c'), (1, 'b')]

### Remove,Delete,POP

In [47]:
a=["hi","Hello","What's up","Bye"]
a.remove("Hello") #removes matching value,not an index
print a

#to remove a specific index
a=["hi","Hello","What's up","Bye"]
a.remove(a[0])
print a

['hi', "What's up", 'Bye']
['Hello', "What's up", 'Bye']

In [48]:
a=["hi","Hello","What's up","Bye"]
del a[1] #deletes a  specific index
a

['hi', "What's up", 'Bye']

In [45]:
a=["hi","Hello","What's up","Bye"]
print a.pop(1) #deletes a specific index and returns the removed element
print a

Hello
['hi', "What's up", 'Bye']

In [1]:
#  filtering odd numbers
lst = filter(lambda x : x % 2 == 1, range(1, 20))
print lst
 
#  filtering odd square which are divisble by 5
lst = filter(lambda x : x % 5 == 0, 
      [x ** 2 for x in range(1, 11) if x % 2 == 1])
print lst
 
#   filtering negative numbers
lst = filter(lambda x: x < 0, range(-5,5))
print lst
 
#  implementing max() function, using
print reduce(lambda a,b: a if (a > b) else b, [7, 12, 45, 100, 15])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[25]
[-5, -4, -3, -2, -1]
100

In [2]:
a = [1, 2, 3, 4]
b=map( lambda x : x*2 + 1, a )
b

[3, 5, 7, 9]

In [39]:
words = 'The quick brown fox jumps over the lazy dog'.split()
stuff_lambda = map(lambda w: [w.upper(), w.lower(), len(w)], words)
stuff_lambda

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [37]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]